In [1]:
#importing first
import urllib.request, urllib.parse, urllib.error
from bs4 import BeautifulSoup
import ssl
import sqlite3
# Ignore SSL certificate errors
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE
#getting url to scrap
url = input('Enter - ')
#parsing start
req = urllib.request.Request(url, headers={'User-Agent': 'Mozilla/5.0'})
html = urllib.request.urlopen(req).read()
soup = BeautifulSoup(html, 'html.parser')

Enter - https://www.ncs.gov.in/Pages/default.aspx

In [3]:
sectors=soup.find_all("li",class_="jobVacanciesSectorOption")

In [40]:
#Making a list of all jobs available
#states=soup.find_all("li",class_="jobVacanciesOption")
sector_vacancy=[]
for sector in sectors:
    link=sector.find('a').get('href',None)
    name=sector.find('span',class_="sectorName").string
    description=sector.find('span',class_="sectorName").get('title',None)
    vacancy=sector.find('span',class_="sectorJobsPost").string
    result=[link,name,description,vacancy]
    sector_vacancy.append(result)

In [43]:
sector_vacancy[0][1]

'Agriculture and Related Activities'

In [47]:
p=[]
for i in range(len(sector_vacancy)):
    l=[]
    link=sector_vacancy[i][0]
    req = urllib.request.Request(link, headers={'User-Agent': 'Mozilla/5.0'})
    html = urllib.request.urlopen(req).read()
    soup=BeautifulSoup(html,'html.parser')
    vacancies=soup.find_all(id="mytab")
    for vacancy in vacancies:
        try:
            form_page=vacancy.find('div').find('a').get('onclick')[14:-2]
            req = urllib.request.Request(form_page, headers={'User-Agent': 'Mozilla/5.0'})
            html = urllib.request.urlopen(req).read()
            soup=BeautifulSoup(html,'html.parser')
            last_date=re.findall('Last .+?2020',soup.text.replace('\n',"").replace("  ","").replace("\r",""))[0][18:]
            last_date="-".join(last_date.split('/')[::-1])
            Post=vacancy.find('div').find_all('span')[0].string
            Company_Name=vacancy.find('div').find_all('span')[4].string+vacancy.find('div').find_all('span')[5].string
            Location=vacancy.find('div').find_all('span')[8].string
            Expected_Salary=vacancy.find('div').find_all('span')[11].string
            Skill_required=vacancy.find('div').find_all('span')[14].string.replace("\t"," ").replace("  "," ")
            Description=vacancy.find('div').find_all('span')[16].string
            if Description!=None:
                Description=Description.replace("\xa0","")
#             with sqlite3.connect("MainDatabase.sqlite") as conn:
#                 cur=conn.cursor()
#                 cur.execute('''SELECT Job_name,Skill_required,Company_Name FROM Jobs Where Job_name=? AND Company_Name=?''',(Post,Company_Name))
#                 row=cur.fetchone()
#                 if row!=None:
#                     continue
#             print("Found")
            r=[form_page,Post,Company_Name,Location,Expected_Salary,Skill_required,Description,sector_vacancy[i][1]]
#             with sqlite3.connect("MainDatabase.sqlite") as conn:
#                 cur=conn.cursor()
#                 cur.execute('''INSERT OR IGNORE INTO Jobs(Job_name,Skill_required,Job_Description,Expected_salary,state_Name,Location,Company_Name,link,last_date)
#                 VALUES(?,?,?,?,?,?,?,?,?)''',(Post,Skill_required,Description,Expected_Salary,state_vacancy[i][1],Location,Company_Name,form_page,last_date))
            l.append(r)
#             conn.commit()
        except Exception as ex:
            print(ex,i)
    p.append(l)

'NoneType' object has no attribute 'replace' 12
<urlopen error [WinError 10060] A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond> 12
<urlopen error [WinError 10060] A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond> 17
<urlopen error [WinError 10060] A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond> 20

In [74]:
for i in sector_vacancy:
    print(i[1])

Agriculture and Related Activities
Arts and Entertainment
Civil and Construction Works
Education
Finance and Insurance
Health
Hotels, Food Service and Catering
Household and Domestic Work
International Organizations
IT and Communication
Manufacturing
Mining And Quarrying
Operations and Support
Other Service Activities
Power and Energy
Public Administration and Defense
Real Estate Activities
Specialized Professional Services
Transportation and Storage
Water Supply, Sewerage and Waste Management
Wholesale and Retail
Sector Not Specified

In [56]:
l

[['https://www.ncs.gov.in/Pages/ViewJobDetails.aspx?A=w1BcJXzB%2BW4%3D&U=&JSID=Cn0Jg8DqlpI%3D&RowId=Cn0Jg8DqlpI%3D',
  'electrical',
  'SIDDHI VINAYAK CONSTRUCTION\r\n                                            Job Location:',
  '\r\n                                            Salary:',
  '\r\n                                            Skill Required: ',
  '\r\n                      Job Description:',
  None,
  'Sector Not Specified'],
 ['https://www.ncs.gov.in/Pages/ViewJobDetails.aspx?A=w1BcJXzB%2BW4%3D&U=&JSID=Euxc18DErSc%3D&RowId=Euxc18DErSc%3D',
  'Sales Executives',
  'MAANI CARE SYSTEM INDIA PRIVATE LIMITED\r\n                                            Job Location:',
  '\r\n                                            Salary:',
  '\r\n                                            Skill Required: ',
  '\r\n                      Job Description:',
  None,
  'Sector Not Specified'],
 ['https://www.ncs.gov.in/Pages/ViewJobDetails.aspx?A=w1BcJXzB%2BW4%3D&U=&JSID=cUCFqwXD%2BDs%3D&RowId=cUCFqwXD%2BDs%3D',
  'Helper',
  'SAMA Enterprises\r\n                                            Job Location:',
  '\r\n                                            Salary:',
  '\r\n                                            Skill Required: ',
  '\r\n                      Job Description:',
  None,
  'Sector Not Specified'],
 ['https://www.ncs.gov.in/Pages/ViewJobDetails.aspx?A=w1BcJXzB%2BW4%3D&U=&JSID=xIiiWSrw4mo%3D&RowId=xIiiWSrw4mo%3D',
  'Casual Labour',
  'Best Choice Consultant\r\n                                            Job Location:',
  '\r\n                                            Salary:',
  '\r\n                                            Skill Required: ',
  '\r\n                      Job Description:',
  None,
  'Sector Not Specified'],
 ['https://www.ncs.gov.in/Pages/ViewJobDetails.aspx?A=w1BcJXzB%2BW4%3D&U=&JSID=7tjQBoPOPjw%3D&RowId=7tjQBoPOPjw%3D',
  'Telle Callers',
  'ORBIT STAFFING INNOVISION PRIVATE LIMITEDMCA)',
  'Not Specified',
  'Not Specified',
  'Calling; English; Malayalam',
  '\r\n                                            Telle-callers to call the potential candidates for overseas recruitment. candidates with overseas or healthcare background are preferred. Social media and database is to be used for calling and further creating the database and pool of potential candidates for overseas employment as nurses , Doctors...',
  'Sector Not Specified'],
 ['https://www.ncs.gov.in/Pages/ViewJobDetails.aspx?A=w1BcJXzB%2BW4%3D&U=&JSID=bopZZPltALU%3D&RowId=bopZZPltALU%3D',
  'HR Recruiter',
  'ORBIT STAFFING INNOVISION PRIVATE LIMITEDMCA)',
  'Not Specified',
  'Not Specified',
  'MS Office',
  '\r\n                                            Calling & line-up the Candidates for Interview. Follow up with the candidates for Interview & selection Process. Result Driven, Time Management, Customer Services, Understand Candidates need. For Gulf Recruitment\r\n',
  'Sector Not Specified'],
 ['https://www.ncs.gov.in/Pages/ViewJobDetails.aspx?A=w1BcJXzB%2BW4%3D&U=&JSID=xiGBgR6OIHg%3D&RowId=xiGBgR6OIHg%3D',
  'Car washing staff',
  'Glitz Car SPA\r\n                                            Job Location:',
  '\r\n                                            Salary:',
  '\r\n                                            Skill Required: ',
  '\r\n                      Job Description:',
  None,
  'Sector Not Specified'],
 ['https://www.ncs.gov.in/Pages/ViewJobDetails.aspx?A=w1BcJXzB%2BW4%3D&U=&JSID=RbjMDA3NKUU%3D&RowId=RbjMDA3NKUU%3D',
  'Female Office Executive',
  'ORBIT STAFFING INNOVISION PRIVATE LIMITEDMCA)',
  'Not Specified',
  'Not Specified',
  'MS Office',
  '\r\n                                            Urgently Required Female Office Executive. Calling & Line-up to the Candidates for Interview. Follow up with candidates for Interview & Selection Process. Result Driven. Time Management',
  'Sector Not Specified'],
 ['https://www.ncs.gov.in/Pages/ViewJobDetails.aspx?A=w1BcJXzB%2BW4%3D&U=&JSID=bQ3OYhayrfk%3D&RowId=bQ3OYhayrfk%3D',
  'Billing cum accounts executive',
  'PARISONS FOODS PRIVATE LIMITED\r\n                                            Job Location:',
  '\r\n                                            Salary:',
  '\r\n                                            Skill Required: ',
  '\r\n                      Job Description:',
  None,
  'Sector Not Specified'],
 ['https://www.ncs.gov.in/Pages/ViewJobDetails.aspx?A=w1BcJXzB%2BW4%3D&U=&JSID=j6kAy17pt7A%3D&RowId=j6kAy17pt7A%3D',
  'Dispatch Executive',
  'RATNA HOME PRODUCTS P. LTD\r\n                                            Job Location:',
  '\r\n                                            Salary:',
  '\r\n                                            Skill Required: ',
  '\r\n                      Job Description:',
  None,
  'Sector Not Specified']]

In [25]:
try:
    with sqlite3.connect("MainDatabase.sqlite") as conn:  
        cur=conn.cursor()
        cur.execute('''SELECT link,Job_id FROM Jobs''')
        row=cur.fetchall()
        print(len(row))
        for i in range(len(row)):
            link=row[i][0]
            job_id=row[i][1]
            if link=='NULL':
                continue
            req = urllib.request.Request(link, headers={'User-Agent': 'Mozilla/5.0'})
            html = urllib.request.urlopen(req).read()
            soup=BeautifulSoup(html,'html.parser')
            sector=soup.find_all('div',class_="row")[8].find_all('label')[3].string.replace('  ',"")[2:-2]
            minimum_qualification=soup.find_all('div',class_="row")[11].find_all('label')[1].string.replace("  ","")[2:-2]
            last_date=re.findall('Last date to apply.+?2020',soup.text.replace('\n',"").replace("  ","").replace("\r",""))[0][18:]
            cur.execute('''UPDATE Jobs SET minimum_qualification=? WHERE Job_id=?''',(minimum_qualification,job_id))
            print(i,"done")
            conn.commit()
except Exception as e:
    print(e)
    pass

555
0 done
1 done
2 done
3 done
4 done
5 done
6 done
7 done
8 done
9 done
10 done
11 done
12 done
13 done
14 done
15 done
16 done
17 done
18 done
19 done
20 done
21 done
22 done
23 done
24 done
25 done
26 done
27 done
28 done
29 done
30 done
31 done
32 done
33 done
34 done
35 done
36 done
37 done
38 done
39 done
40 done
41 done
42 done
43 done
44 done
45 done
46 done
47 done
48 done
49 done
50 done
51 done
52 done
53 done
54 done
55 done
56 done
57 done
58 done
59 done
60 done
61 done
62 done
63 done
64 done
65 done
66 done
67 done
68 done
69 done
70 done
71 done
72 done
73 done
74 done
75 done
76 done
77 done
78 done
79 done
80 done
81 done
82 done
83 done
84 done
85 done
86 done
87 done
88 done
89 done
90 done
91 done
92 done
93 done
94 done
95 done
96 done
97 done
98 done
99 done
100 done
101 done
102 done
103 done
104 done
105 done
106 done
107 done
108 done
109 done
110 done
111 done
112 done
113 done
114 done
115 done
116 done
117 done
118 done
119 done
120 done
121 done
122 done
123 done
124 done
125 done
126 done
127 done
128 done
129 done
130 done
131 done
132 done
133 done
134 done
135 done
136 done
137 done
138 done
139 done
140 done
141 done
142 done
143 done
144 done
145 done
146 done
147 done
148 done
149 done
150 done
151 done
152 done
153 done
154 done
155 done
156 done
157 done
158 done
159 done
160 done
161 done
162 done
163 done
164 done
165 done
166 done
167 done
168 done
169 done
170 done
171 done
172 done
173 done
174 done
175 done
176 done
177 done
178 done
179 done
180 done
181 done
182 done
183 done
184 done
185 done
186 done
187 done
188 done
189 done
190 done
191 done
192 done
193 done
194 done
195 done
196 done
197 done
198 done
199 done
200 done
201 done
202 done
203 done
204 done
205 done
206 done
207 done
208 done
209 done
210 done
211 done
212 done
213 done
214 done
215 done
216 done
217 done
218 done
219 done
220 done
221 done
222 done
223 done
224 done
225 done
226 done
227 done
228 done
229 done
230 done
231 done
232 done
233 done
234 done
235 done
236 done
237 done
238 done
239 done
240 done
241 done
242 done
243 done
244 done
245 done
246 done
247 done
248 done
249 done
250 done
251 done
252 done
253 done
254 done
255 done
256 done
257 done
258 done
259 done
260 done
261 done
262 done
263 done
264 done
265 done
266 done
267 done
268 done
269 done
270 done
271 done
272 done
273 done
274 done
275 done
276 done
277 done
278 done
279 done
280 done
281 done
282 done
283 done
284 done
285 done
286 done
287 done
288 done
289 done
290 done
291 done
292 done
293 done
294 done
295 done
296 done
297 done
298 done
299 done
300 done
301 done
302 done
303 done
304 done
305 done
306 done
307 done
308 done
309 done
310 done
311 done
312 done
313 done
314 done
315 done
316 done
317 done
318 done
319 done
320 done
321 done
322 done
323 done
324 done
325 done
326 done
327 done
328 done
329 done
330 done
331 done
332 done
333 done
334 done
335 done
336 done
337 done
338 done
339 done
340 done
341 done
342 done
343 done
344 done
345 done
346 done
347 done
348 done
349 done
350 done
351 done
352 done
353 done
354 done
355 done
356 done
357 done
358 done
360 done
361 done
362 done
363 done
364 done
365 done
366 done
367 done
368 done
369 done
370 done
371 done
372 done
373 done
374 done
375 done
376 done
377 done
378 done
379 done
380 done
381 done
382 done
383 done
384 done
385 done
386 done
387 done
388 done
389 done
390 done
391 done
392 done
393 done
394 done
395 done
396 done
397 done
398 done
399 done
400 done
401 done
402 done
403 done
404 done
405 done
406 done
407 done
408 done
409 done
410 done
411 done
412 done
413 done
414 done
415 done
416 done
417 done
418 done
419 done
420 done
421 done
422 done
423 done
424 done
425 done
426 done
427 done
428 done
429 done
430 done
431 done
432 done
433 done
434 done
435 done
436 done
437 done
438 done
439 done
440 done
441 done
442 done
443 done
444 done
445 done
446 done
447 done
448 done
449 done
450 done
451 done
452 done
453 done
454 done
455 done
456 done
457 done
458 done
459 done
460 done
461 done
462 done
463 done
464 done
465 done
466 done
467 done
468 done
469 done
470 done
471 done
472 done
473 done
474 done
475 done
476 done
477 done
478 done
479 done
480 done
481 done
482 done
483 done
484 done
485 done
486 done
487 done
488 done
489 done
490 done
491 done
492 done
493 done
494 done
495 done
496 done
497 done
498 done
499 done
500 done
501 done
502 done
503 done
504 done
505 done
506 done
507 done
508 done
509 done
510 done
511 done
512 done
513 done
514 done
515 done
516 done
517 done
518 done
519 done
520 done
521 done
522 done
523 done
524 done
525 done
526 done
527 done
528 done
529 done
530 done
531 done
532 done
533 done
534 done
535 done
536 done
537 done
538 done
539 done
540 done
541 done
542 done
543 done
544 done
545 done
546 done
547 done
548 done

In [7]:
import urllib.request, urllib.parse, urllib.error
from bs4 import BeautifulSoup
import ssl
import sqlite3
import re

In [9]:
form_page='https://www.ncs.gov.in/Pages/ViewJobDetails.aspx?A=w1BcJXzB%2BW4%3D&U=&JSID=CKvaAeUuSzI%3D&RowId=CKvaAeUuSzI%3D'
req = urllib.request.Request(form_page, headers={'User-Agent': 'Mozilla/5.0'})
html = urllib.request.urlopen(req).read()
soup=BeautifulSoup(html,'html.parser')
# last_date=re.findall('Last .+?2020',soup.text.replace('\n',"").replace("  ","").replace("\r",""))[0][18:]
# last_date="-".join(last_date.split('/')[::-1])
# Post=vacancy.find('div').find_all('span')[0].string
# Company_Name=vacancy.find('div').find_all('span')[4].string+vacancy.find('div').find_all('span')[5].string
# Location=vacancy.find('div').find_all('span')[8].string
# Expected_Salary=vacancy.find('div').find_all('span')[11].string
# Skill_required=vacancy.find('div').find_all('span')[14].string.replace("\t"," ").replace("  "," ")
# Description=vacancy.find('div').find_all('span')[16].string
# if Description!=None:
# Description=Description.replace("\xa0","")

In [24]:
minimum_qualification=soup.find_all('div',class_="row")[11].find_all('label')[1].string.replace("  ","")[2:-2]

'Post Graduate'

In [26]:
def free_jobs():
    with sqlite3.connect("MainDatabase.sqlite") as conn:
        cur=conn.cursor()
        cur.execute('''SELECT * FROM Jobs WHERE Recruiter_id IS NOT NULL''')
        row=cur.fetchall()
        return row

In [35]:
type(free_jobs()[1][0])

int

In [18]:
import sqlite3
def recruiter_job(id):
    with sqlite3.connect("MainDatabase.sqlite") as conn:
        cur=conn.cursor()
        cur.execute('''SELECT User_id,Recruiter_id from Applications WHERE Job_id=?''',(id,))
        rows=cur.fetchall()
        if len(rows)!=0:
            for row in range(len(rows)):
                user_id=rows[row][0]
                cur.execute('''SELECT Name,Phone,Email,Address,Marks_10,Marks_12,DOB,Gender,Category FROM Users WHERE User_id=?''',(user_id,))
                rows[row]=rows[row]+cur.fetchone()
        return rows

In [19]:
recruiter_job(1)

OperationalError: no such table: Users

In [11]:
with sqlite3.connect("MainDatabase.sqlite") as conn:
    cur=conn.cursor()
    cur.execute('''INSERT INTO Applications(User_id,Recruiter_id,Job_id) VALUES(?,?,?)''',(1,1,1))
    row=cur.fetchone()
    conn.commit()

In [15]:
rows

NameError: name 'rows' is not defined

In [52]:
(1,)+(2,)

(1, 2)

In [6]:
with sqlite3.connect("MainDatabase.sqlite") as conn:
    cur=conn.cursor()
    cur.execute('''
    CREATE TABLE IF NOT EXISTS Applications (
        Application_id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
        User_id INTEGER,
        Recruiter_id INTEGER,
        Job_id INTEGER,
        FOREIGN KEY (User_id)
        REFERENCES Users (User_id),
        FOREIGN KEY (Recruiter_id)
        REFERENCES Recruiters (Recruiter_id),
        FOREIGN KEY (Job_id)
        REFERENCES Jobs (Job_id)
    );
    ''')
    conn.commit()

In [1]:
def job_apply(User_id,Job_id):
    with sqlite3.connect("MainDatabase.sqlite") as conn:
        cur=conn.cursor()
        cur.execute('''SELECT Recruiter_id FROM Jobs WHERE Job_Id=?''',(Job_id,))
        Recruiter_id=cur.fetchone()[0]
        cur.execute('''INSERT INTO Applications User_id,Recruiter_id,Job_id VALUES(?,?
        )''',(User_id,Recruiter_id,Job_id))
        conn.commit
        return 1

In [7]:
with sqlite3.connect("MainDatabase.sqlite") as conn:
    cur=conn.cursor()
    cur.execute('''SELECT Recruiter_id FROM Jobs WHERE Job_Id=?''',(Job_id,))
    Recruiter_id=cur.fetchone()[0]
#     cur.execute('''INSERT INTO Applications User_id,Recruiter_id,Job_id VALUES(?,?
#     )''',(User_id,Recruiter_id,Job_id))
    conn.commit

OperationalError: no such table: Jobs

In [4]:
import sqlite3

In [7]:
from json import loads

In [5]:
a='["2","3","4"]'

In [ ]:
with sqlite3.connect("MainDatabase.sqlite"):

In [9]:
import sqlite3

In [ ]:
def fetch_recommend(State_Name,sector):
    with sqlite3.connect("MainDatabase.sqlite") as conn:
        cur=conn.cursor()
        cur.execute('''SELECT Job_name,Skill_required,Job_Description,Expected_salary,State_Name,Location,Company_Name,sector,last_date,minimum_qualification FROM Jobs WHERE State_Name=? AND sector=?''',(State_Name,sector))
        row=cur.fetchall()
        return row